@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&family=Montserrat:wght@100;200;400&family=Nanum+Gothic:wght@400;700&family=Water+Brush&display=swap");

.btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: large;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: antiquewhite;
    border-style: none;
}